<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Bus Ads</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet" />
    <link href="/css/ad-list.css" rel="stylesheet" />
    <link href="/css/ad-search.css" rel="stylesheet" />
    <!-- Favicon -->
    <link rel="icon" href="/img/logo.png" type="image/png" />
  </head>
  <body>
  <header th:replace="fragments/base :: header"></header>
  <div th:replace="fragments/base :: main(~{::div#main-content})">
      <div id="main-content" class="container-fluid text-center">
        <h1 id="page-heading">Bus Ads</h1>
        <div th:replace="fragments/ad-search :: ad-search('/ads/bus')"></div>
        <div class="container mt-4">
          <div class="row">
            <!-- Loop through vehicle ads -->
            <th:block>
              <div class="col-md-4 mb-3" th:each="ad : ${ads}">
                <a class="non-highlighted-link" th:href="@{/ads/bus/{id}(id=${ad.id})}">
                  <div class="card">
                    <img class="card-img-top" th:src="${ad.imageUrl}" alt="Vehicle image">
                    <div class="card-body">
                      <h5 class="card-title" th:text="${ad.title}"></h5>
                      <p class="card-text">
                        <strong>Bus:</strong> <span th:text="${ad.vehicle?.brand?.name} + ' ' + ${ad.vehicle?.modelName}"></span><br>
                        <strong>Year:</strong> <span th:text="${ad.manufactureYear}"></span><br>
                        <strong>Engine type:</strong>
                        <th:block th:switch="${ad.engineType}">
                          <span th:case="${T(com.vehicleads.abstraction.ads.enginevehiclead.EngineType).PLUG_IN_HYBRID}">Plug-in hybrid</span>
                          <span th:case="${T(com.vehicleads.abstraction.ads.enginevehiclead.EngineType).GASOLINE}">Gasoline</span>
                          <span th:case="${T(com.vehicleads.abstraction.ads.enginevehiclead.EngineType).DIESEL}">Diesel</span>
                          <span th:case="${T(com.vehicleads.abstraction.ads.enginevehiclead.EngineType).ELECTRIC}">Electric</span>
                          <span th:case="${T(com.vehicleads.abstraction.ads.enginevehiclead.EngineType).HYBRID}">Hybrid</span>
                          <span th:case="*"></span>
                        </th:block>
                        <br>
                        <strong>Horse Power:</strong> <span th:text="${ad.horsePower}"></span><br>
                        <strong>Price:</strong>
                        <span class="ad-price" th:if="${ad.isPriceNegotiable}">Negotiable</span>
                        <span class="ad-price" th:unless="${ad.isPriceNegotiable}" th:text="${ad.price}"></span>
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </th:block>
          </div>
          <h2 th:if="${#lists.isEmpty(ads)}" class="no-ads-message">No ads found</h2>
        </div>
      </div>
    </div>
<!--  </div>-->
  <footer th:replace="fragments/base :: footer"></footer>

  <script type="text/javascript" th:src="@{/js/ad-price.js}"></script>
  <script type="text/javascript" th:inline="javascript">
    window.onload = togglePriceRange();
  </script>
  </body>
</html>