#ad-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* spacing between elements */
    margin-bottom: 20px;
}
#search-group {
    display: flex;
    width: 100%;
}
#search-group .form-control {
    flex-grow: 1;
    margin-right: 10px; /* creates space between search bar and button */
}
.options-group {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.options-group .form-control {
    max-width: 150px; /* controls the max width of the input */
}
.checkbox-inline {
    display: flex;
    align-items: center;
    white-space: nowrap; /* keeps text on one line */
}

#ad-search-container {
    margin-bottom: 5%;
}

.price-input-group {
    display: flex;
    align-items: center;
    gap: 10px; /* space between label and input */
}

.price-input-group label {
    margin-bottom: 0; /* remove the bottom margin from labels */
}

.options-group .form-control {
    max-width: 150px; /* controls the max width of the input */
}