<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>[[${ad.title}]] Details</title>
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
  >
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet" >
  <link href="/css/base.css" rel="stylesheet" />
  <link href="/css/ad-details.css" rel="stylesheet" />
  <!-- Favicon -->
  <link rel="icon" href="/img/logo.png" type="image/png" />
</head>
<body>
  <header th:replace="fragments/base :: header"></header>
  <div th:replace="fragments/base :: main(~{::div#main-content})">
    <div id="main-content" class="container-fluid text-center">
      <div class="container">
        <h1 id="page-heading" th:text="${ad.title}">Ad Title</h1>
        <img class="ad-image" th:src="${ad.imageUrl}" alt="Ad Image">

        <div class="ad-specs">
          <div class="spec-item">
            <span class="spec-label">Brand:</span>
            <span th:text="${ad.vehicle?.brand?.name}">Brand Name</span>
          </div>

          <div class="spec-item">
            <span class="spec-label">Model:</span>
            <span th:text="${ad.vehicle?.modelName}">Model Name</span>
          </div>

          <div class="spec-item">
            <span class="spec-label">Condition:</span>
            <span th:switch="${ad.vehicleCondition}">
                    <span th:case="${T(com.vehicleads.abstraction.ads.ad.VehicleCondition).FOR_PARTS}">For parts</span>
                    <span th:case="${T(com.vehicleads.abstraction.ads.ad.VehicleCondition).USED}">Used</span>
                    <span th:case="${T(com.vehicleads.abstraction.ads.ad.VehicleCondition).NEW}">New</span>
                    <span th:case="*">Other</span>
                </span>
          </div>

          <div class="spec-item">
            <span class="spec-label">Year:</span>
            <span th:text="${ad.manufactureYear}">Year</span>
          </div>

          <div class="spec-item">
            <span class="spec-label">Engine Type:</span>
            <span th:switch="${ad.engineType}">
                    <span th:case="${T(com.vehicleads.abstraction.ads.enginevehiclead.EngineType).PLUG_IN_HYBRID}">Plug-in hybrid</span>
                    <span th:case="${T(com.vehicleads.abstraction.ads.enginevehiclead.EngineType).GASOLINE}">Gasoline</span>
                    <span th:case="${T(com.vehicleads.abstraction.ads.enginevehiclead.EngineType).DIESEL}">Diesel</span>
                    <span th:case="${T(com.vehicleads.abstraction.ads.enginevehiclead.EngineType).ELECTRIC}">Electric</span>
                    <span th:case="${T(com.vehicleads.abstraction.ads.enginevehiclead.EngineType).HYBRID}">Hybrid</span>
                    <span th:case="*">Other</span>
                </span>
          </div>

          <div class="spec-item">
            <span class="spec-label">Horse Power:</span>
            <span th:text="${ad.horsePower}">Horse Power</span>
          </div>

          <div class="spec-item">
            <span class="spec-label">Gearbox:</span>
            <span th:switch="${ad.gearbox}">
                <span th:case="${T(com.vehicleads.abstraction.ads.enginevehiclewithgearboxad.Gearbox).AUTOMATIC}">Automatic</span>
                <span th:case="${T(com.vehicleads.abstraction.ads.enginevehiclewithgearboxad.Gearbox).SEMI_AUTOMATIC}">Semi-Automatic</span>
                <span th:case="${T(com.vehicleads.abstraction.ads.enginevehiclewithgearboxad.Gearbox).MANUAL}">Manual</span>
                <span th:case="*">Other</span>
                </span>
          </div>

          <div class="spec-item">
            <span class="spec-label">Mileage:</span>
            <span th:text="${ad.mileage}">Mileage</span>
          </div>

          <div class="spec-item">
            <span class="spec-label">Axes Count:</span>
            <span th:text="${ad.axesCount}">Axes Count</span>
          </div>

          <div class="spec-item">
            <span class="spec-label">Seats Count:</span>
            <span th:text="${ad.seatsCount}">Seats Count</span>
          </div>

          <div class="spec-item">
            <span class="spec-label">Load Capacity:</span>
            <span th:text="${ad.loadCapacityKg + ' kg'}">Seats Count</span>
          </div>

          <div class="spec-item">
            <span class="spec-label">Color:</span>
            <span th:text="${ad.color}">Color</span>
          </div>

          <div class="spec-item">
            <span class="spec-label">Description:</span>
            <span th:text="${ad.description}">Description</span>
          </div>

          <div class="spec-item">
            <span class="spec-label ad-price">Price:</span>
            <span class="ad-price" th:if="${ad.isPriceNegotiable}" th:text="Negotiable">Negotiable</span>
            <span class="ad-price" th:unless="${ad.isPriceNegotiable}" th:text="${ad.price}">Price</span>
          </div>

          <!-- Add more details as needed -->
        </div>
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-auto">
              <ul class="list-unstyled">
                <li class="mb-2">
                  <i class="bi bi-person-fill"></i>
                  <span th:text="${ad.user?.firstName + ' ' + ad.user?.lastName}"></span>
                </li>
                <li class="mb-2">
                  <i class="bi bi-geo-alt-fill"></i>
                  <span th:text="${ad.user?.populatedPlace}"></span>
                </li>
                <li class="mb-2">
                  <i class="bi bi-telephone-fill"></i>
                  <span th:text="${ad.user?.phoneNumber}"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="fragments/base :: footer"></footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
